:{$PORT} {
	root * ./
    file_server browse
}

# :{$PORT} {
# 	reverse_proxy * {$UPSTREAM:"https://www.google.com"} {
# 		header_up Host {upstream_hostport}
# 	}
# }

https://{$host}:8899 {
	respond "I am 8899"
}